header {
  position: sticky;
  top: 0;
}

.header {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(240,255,240,1) 100%);
  margin: -10px -10px 10px -10px;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

img {
  padding: 5px 1.5%;
  height: 70px;
}

h1 {
  margin: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  float: left;
  width: 30%;
  height: 1700px;
  border-right: 2px solid gray;
  background: linear-gradient(135deg, rgba(118,118,118,1) 0%, rgba(208,208,208,1) 100%);
  background-clip: border-box;
  margin: -10px -9px;
  /*padding-top: 1%;*/
}

h3 {
  margin-top: 35px;
  text-align: center;
  width: 30%;
  padding-bottom: 2%;
  border-bottom: 3px solid darkgray;
  /*border-radius: 5px;*/
}

button {
  width: 100px;
  height: 50px;
  margin-bottom: 4px;
  color: #001570;
  font-size: 20px;
  background: linear-gradient(315deg, rgba(235,255,235,1) 0%, rgba(201,255,201,1) 62%);
  border: 2px solid wheat;
  border-radius: 10px;
}

button:hover {
  width: 100px;
  /* height: 10%; */
}

button:active {
  background: #b7ffb7;
}

p {
  color: #0000006e;
  margin-left: 30%;
  padding: 8px 15px;
  text-align: justify;
  text-shadow: 6px 6px 5px #808080db;
}

div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 5px;
    padding: 4px 25px;
    width: 69%;
    height: 200px;
    background-color: #ff1fd9a6;
}

#beam{
    width: 86%;
    height: 35px;
    background-color: darkblue;

}

div.results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 30%;
  padding: 4px 25px;
  width: 69%;
  background-color: rgb(226 255 248);
}

ul{
  padding: 13px 5px;
  display: flex;
  justify-content: space-around;
}

img.res{
  height:auto;
}

#latex{
  height: 480px;
  width: auto;
}

h4{
  color: #001570;
  margin: 10px;
  font-style: oblique;
}

pre{
  margin-top: 20px;
  font-size: 0.775em;
  line-height: 15px;
}

#result{
  margin: 18px 0px 10px 32%;
  color: crimson;
  font-style: italic;
}