input[type=number], select{
    background-color: rgb(187, 231, 231);
    padding: 10px 15px;
    border: none;
    border-bottom: 2px solid blue;
    border-radius: 7px;
}


/* hide input arrows: */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select{
    padding: 4px 0 8px 15px;
    font-size: 20px;
    font-weight: bolder;
}

/* option{
    border: 1px solid red;
    border-radius: 5px;
} */

input[type=number]:focus{
    padding: 8px 15px;
    /* border:; */
    outline: none;
    border-bottom: 4px solid blue;
}

.save{
    margin: 5px 0;
    background-color: greenyellow;
    border: none;
    border-bottom: 3px solid rgb(100, 184, 100);
    border-radius: 12px;
    padding: 9px 15px;
    font-size: 15px;
    font-weight: bolder;
}

.save:hover{
    color: blue;
}

.save:active{
    border-bottom: 3px solid greenyellow;
}

caption{
    text-align: left;
    padding: 5px 10px;
}

td:nth-child(odd){
    padding: 2px 2px 2px 15px;
    /* background-color: aquamarine; */
}

.support select{
    padding: 10px 10px;
    font-size: 14px;
}

.support table{
    border-left: 4px solid blue;
    border-radius: 10px;
}

object{
    height: 38px;
    padding: 4px;
}

/* button.obj{
    border: 1px solid blanchedalmond;
    border-radius: 11px;
    margin-bottom: 5px;
} */

/* button.obj:hover{
    background-color: rgb(253, 245, 230);
}
button.obj:active{
    background-color: rgb(250, 233, 202);
} */

.support td{
    padding: 0 2px;
}

.support td:first-child{
    padding-left: 12px;
}

div.section_img{
    margin-top: 5px;
    width: 30em;
    height: 18em;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

div.flange{
    margin-top: 10px;
    background-color: blue;
    width: 80%;
    height: 9%;
}

div.web{
    background-color: blue;
    width: 7%;
    height: 82%;
}

img{
    margin-top: 15px;
    width: 30em;
}